<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MA.log4net" version="2.0.3" targetFramework="net45" />
  <package id="MA.Newtonsoft.Json" version="8.0.2" targetFramework="net40" />
  <package id="MA.ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="MA.ServiceStack.Logging.Log4Net" version="3.9.70" targetFramework="net45" />
  <package id="MA.ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="MA.ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>